@define-color bg #1e1717;
@define-color fg #fbf9f9;
@define-color gray1 #cd6a6d;
@define-color gray2 #b89495;
@define-color gray3 #ce575c;
@define-color gray4 #cc7a7e;
@define-color gray5 #c8777a;
@define-color fg_bright #fbf9f9;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}