# ~/.config/starship.toml

# Inserts a blank line between shell prompts
add_newline = true

# Change command timeout from 500 to 1000 ms
command_timeout = 1000

# Change the default prompt format
# Replaced `$env_var` with the Arch logo '' and styled it 'bold cyan'
format = """\
[╭╴](238)[ ](bold cyan)$username$hostname$directory\
$line_break[╰─](238)$character"""

# Change the default prompt characters
[character]
success_symbol = "[](238)"
error_symbol = "[](238)"

# Shows the username
[username]
style_user = "white"
style_root = "white"
format = "[$user]($style) "
show_always = true

[hostname]
ssh_only = false
format = "on [$hostname](bold yellow) "

[directory]
read_only_style = "197"
read_only = "  "
format = "at [$path]($style)[$read_only]($read_only_style) "
