@import "../omarchy/current/theme/waybar.css";
@import "./matugen-waybar.css";

* {
  /* background-color: @background; */
  background: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  border-radius: 999px;
  margin-left: 4px;
}

.modules-center {
  border-radius: 999px;
}

.modules-right {
  border-radius: 999px;
  background: @omarchy-background;
  margin-right: 8px;
  padding: 0 4.25px;
}

#workspaces {
  background-color: @omarchy-background;
  padding: 5px 4px;
  border-radius: 18px;
}

#workspaces button {
  padding: 0 4px;
  margin: 0 3px;
  min-width: 12px;
  border-radius: 16px;
  background-color: @omarchy-secondary;
  transition: all 150ms ease-in-out;
}

#workspaces button.active {
  background-color: @on_primary_fixed_variant;
  min-width: 30px;
  transition: all 150ms ease-in-out;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 4px;
}

#network.disconnected {
  margin-right: 10px;
}

#custom-expand-icon {
  margin-right: 18px;
  margin-left: 5px;
}

tooltip {
  background: @omarchy-background;
  border-radius: 8px;
  padding: 2px;
}

#tray menu {
  background: @omarchy-background;
  border-radius: 8px;
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#mpris {
  margin-left: 7.5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-omarchy {
  background-color: @omarchy-background;
  padding: 0 12px;
  margin-right: 0px;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

#custom-user {
  background-color: @omarchy-background;
  padding-right: 12px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  margin-right: 7.5px;
}

#clock,
#mpris {
  background-color: @omarchy-background;
  padding: 0 12px;
  border-radius: 999px;
}